@import url(reset.css);

/* ----------- PROGRAMA JA CONFIGURADO PARA CELL (min-width: 600px) ---------- */
/* ----------- BODY ---------- */
body {
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
}
/* ----------- HEADER ---------- */
header {
    max-width: 500px;
    width: 100%;
    height: 14vh;
    padding: 0rem 1rem 0rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header figure {
    width: 120px;
}
header figcaption, header figcaption a, header figcaption a img {
    width: 100%;
}
header button {
    width: 30px;
    height: 30px;
    background-image: url(assets/img/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
/* ----------- MAIN ---------- */
main {
    width: 100%;
    max-width: 500px;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cards {
    width: 80%;
    height: 75vh;


    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
}

.card {
    width: 100%;
    height: 70%;
    padding-left: 1rem;
    position: relative;

    display:flex ;
    align-items: center;
    justify-content: space-between;
    background-color:  var(--cor-principal);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) -1px 3px 8px, rgba(0, 0, 0, 0.24) 1px 3px 8px;
    transition: all 0.3s;
}
.card:hover, .card:active {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    background-color: var(--cor-secundaria);
    transition: all 0.3s;
}
.card h2 {
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
}
.card img {
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 100px;
}
.card-videos {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s;
}
.card-videos:hover, .card-videos:active {

    transition: all 0.3s;
}
.card-videos p {
    color: white;
    width: 75%;
    font-size: 0.8rem;
}
.card-videos img {
    right: -20px;
    transform: rotateY(180deg);
    width: 130px;
}